body{
  background-color: #393E46;
  text-align: center;
}
h1{
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  margin-top: 1.7%;
}
p{
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}
footer{
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
  margin-top: 7%;
}

img {
  width: 80%;
}
.game-content{
  color: #4ECCA3;
}
.game{
  display: inline-block;
}
.sas{
  width: 10%;
}
